:root {
	--colors-neutral-50: 251 252 253;

	/* --colors-primary-50: 249 254 253;
	--colors-primary-100: 239 254 250;
	--colors-primary-200: 225 251 244;
	--colors-primary-300: 210 247 237;
	--colors-primary-400: 192 239 227;
	--colors-primary-500: 165 228 212;
	--colors-primary-600: 125 212 192;
	--colors-primary-700: 112 225 200;
	--colors-primary-800: 105 217 193;
	--colors-primary-900: 20 125 111; */

	/* SAGE */
	--colors-primary-50: 251 253 252;
	--colors-primary-100: 248 250 249;
	--colors-primary-200: 241 244 243;
	--colors-primary-300: 236 239 237;
	--colors-primary-400: 230 233 232;
	--colors-primary-500: 222 227 225;
	--colors-primary-600: 215 220 218;
	--colors-primary-700: 194 201 198;
	--colors-primary-800: 138 145 142;
	--colors-primary-900: 128 135 132;
}

/* this may change depending on how you implement dark mode */
html.dark {
	--colors-neutral-50: 21 23 24;
/*
	--colors-primary-50: 8 25 23;
	--colors-primary-100: 5 32 30;
	--colors-primary-200: 5 41 38;
	--colors-primary-300: 4 49 44;
	--colors-primary-400: 3 58 52;
	--colors-primary-500: 1 69 61;
	--colors-primary-600: 0 86 74;
	--colors-primary-700: 0 109 91;
	--colors-primary-800: 112 225 200;
	--colors-primary-900: 149 243 217; */

	/* SAGE DARK */
	--colors-primary-50: 20 23 22;
	--colors-primary-100: 25 29 27;
	--colors-primary-200: 31 36 33;
	--colors-primary-300: 37 42 39;
	--colors-primary-400: 42 47 44;
	--colors-primary-500: 48 54 51;
	--colors-primary-600: 57 63 60;
	--colors-primary-700: 74 82 78;
	--colors-primary-800: 102 115 109;
	--colors-primary-900: 117 129 123;
}
